body {
    background-color: #1c1e2c;
}


.root {
    height: 100%;
    padding-top: 250px;
}

#thought {
    margin: 50px;
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}
