body {
    background-color: #1c1e2c;
}


.root {
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    height: 100%;
}

#thought {
    margin: 30px;
}
